body{
    background-color: black;
    color: aliceblue;
}
header{
    background-color: azure;
    text-align: center;
}
header a {
    text-decoration: none;
    width: fit-content;
    font-size: 30px;
    text-align: center;
    border: 3px black solid;
    padding:1px 10px 1px 10px;
    transition: font-size 1s;
    color:black;
    
}
a:hover{
    font-size: 35px;
}
header h1{
    font-size: 40px;
    color: black;
}
h1 {
    text-align: center;
    position: relative;
}
.b {
    position: absolute;
    left: 670px;
    bottom:0px;
}
.gamble{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeCKEyl9JFbvtflv7Be0DODwyvajSO7XYYVKlu6y0oAd0CnQOw-UjdIUzFBnWSNaoXbuqS&s');
    background-size: cover;
}
.forget {
    text-align: center;
}